
body {
    width: 100%;
    font-family: Arial, sans-serif;
}

header{
    z-index: 1;
    position: fixed;
    width: 100%;
    left: 0;
    top:0;
        background-color: #344051;
}*/
nav {
    width: 100%;
    height: 60px;
    background-color: #344051;
}

.logo {
    font-size: 32px;
    padding-left: 388px;
    float: left;
    color: white;
    line-height: 60px;
}

.menu {
    padding-left: 430px;
    float: left;
}

.menu li {
    opacity: 0;
    font-size: 16px;
    float: left;
    margin-right: 40px;
    line-height: 60px;
}

.menu li a {
    display: inline-block;
    color: white;
    text-transform: uppercase;
    transform: scale(1);
}

.main {
    width: 100%;
    height: 100%;
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/titleBackground.jpg) center/cover no-repeat;
}

.title {
    display: block;
    opacity: 0;
    margin: 404px 0px 0px 432px;
    text-align: center;
    float: left;
}

.title h1 {
    font-size: 60px;
    font-weight: bold;
    color: #2c384a;

}

.title h4 {
    margin-top: 32px;
    font-size: 18px;
    color: #79818d;

}

.title input {
    width: 96px;
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    cursor: pointer;
    margin: 50px 14px 0px 14px;
}

.about h2 {
    text-align: center;
    width: 150px;
    font-size: 27px;
    margin: 100px auto 0;
    padding-bottom: 5px;
}

.about {
    width: 740px;
    margin: 0 auto;
}

.about img {
    display: block;
    margin: 0 auto;
}

.about hr {
    height: 4px;
    border: none;
    background: #d17700;
    width: 60px;
    margin: 0 auto;
}

.about p {
    margin-top: 30px;
    color: #3f495a;
}

.dwnlogo {
    float: left;
}

.about input {
    width: 100px;
    display: block;
    color: #3f495a;
    cursor: pointer;
    margin: 0 auto;
}

.skills h2 {
    padding-top: 50px;
    text-align: center;
    font-size: 27px;
    margin-bottom: 30px;
}

.skills_container {
    background: url(../img/skillsbg.jpg);
}

.skills {
    width: 920px;
    height: 520px;
    margin: 0 auto;
    margin-top: 100px;


}

.skill1 {
    width: 230px;
    text-align: center;
    float: left;

}

.skills hr {
    height: 4px;
    border: none;
    background: #d17700;
    width: 60px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.case h2 {
    margin-top: 100px;
    text-align: center;
    font-size: 27px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.case_p {
    text-align: center;
    margin-bottom: 40px;
}

.case hr {
    height: 4px;
    border: none;
    background: #d17700;
    width: 60px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.test {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.web {
    width: 1140px;
    margin: 0 auto;
}

.example {
    margin-right: 80px;
    float: left;
}

.example h3 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 30px;
}

.example p {
    margin-bottom: 30px;
}

.project {
    height: 250px;
    margin-bottom: 100px
}

.project h3 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
}

.site input {
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    padding: 14px 45px;
    background: #63b5ae;
    border-radius: 10px;
    color: white;
}

.cost {
    height: 600px;
    width: 880px;
    margin: 0 auto;
    color: #1c2534;
}

.cost h2 {
    font-weight: 600;
    font-size: 30px;
    text-align: center;

}

.cost h3 {
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 40px;

}

.cost select {
    display: block;
    width: 890px;
    height: 54px;
}

.cost hr {
    height: 2px;
    background: grey;
}

.information h5 {
    font-weight: 600;
    font-size: 15px;
    margin-top: 25px;
}

.statBG {
    height: 500px;
    background: url(../img/statBG.jpg);
    background-attachment: fixed;
}

.statistics {
    margin-top: 155px;
    width: 1200px;
    margin: 0 auto;
    height: 500px;

}

.statistics h2 {
    text-align: center;
    font-size: 27px;
    text-transform: uppercase;
    color: #323e4f;
    padding-top: 100px;
    margin-bottom: 30px;
}

.statistics hr {
    height: 4px;
    border: none;
    background: #d17700;
    width: 60px;
    margin: 0 auto;
    margin-bottom: 90px;
}

.stat {
    display: block;
    width: 140px;
    text-align: center;
    float: left;
    margin: 0 80px;

}

.stat h3 {
    font-weight: 600;
    margin-top: 35px;
    font-size: 30px;
    margin-bottom: 30px;
}

.feedback {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 150px;
}

.feedback img {
    display: block;
    margin: 0 auto;
    margin-bottom: 35px;
}

.feedback h2 {
    font-size: 27px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 35px;
}

.feedback hr {
    height: 4px;
    border: none;
    background: #d17700;
    width: 60px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.feedback p {
    text-align: center;
}

.feedback span {
    font-weight: bold;
}

.fd {
    margin-bottom: 40px;
}

.contacts {
    color: white;
    width: 750px;
    margin: 0 auto;
    height: 800px;
}

.contactsbg {
    background: url(../img/contbg.jpg);

}

.contacts h2 {
    padding-top: 100px;
    text-transform: uppercase;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.contacts hr {
    height: 4px;
    border: none;
    background: #d17700;
    width: 60px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.contacts p {
    text-align: center;
    margin-bottom: 50px;
}

.info {
    width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.info1 {
    width: 200px;
    float: left;
    margin: 0 auto;
    text-align: center;
    margin: 0 20px;

}

.info1 img {
    display: block;
    margin: 0 auto;
}

.form {
    width: 740px;
    display: block;
    margin: 0 auto;
}

.form h3 {
    font-size: 22px;
    text-align: center;
    margin-bottom: 50px;
}

.ps1 {
    display: block;
    width: 350px;
    margin: 0 auto 0 0;
    float: left;
    height: 40px;
    opacity: 0.8;
    padding: 0 20px;
    font-size: 15px;    
}

.ps2 {
    display: block;
    width: 350px;
    margin: 0 0 0 auto;
    height: 40px;
    opacity: 0.8;
    padding: 0 20px;
    font-size: 15px;
}

.form textarea {
    width: 740px;
    height: 100px;
    opacity: 0.8;
    padding: 10px 20px;
    font-size: 15px;
}
.button{
    display: block;
    margin: 50px auto 0;
    background: none;
    color: white;
    font-size: 22px;
    border: 3px solid white;
    padding:10px 5px;
    border-radius: 10px;
    cursor: pointer;
}
.map{
    display: block;
    height: 350px;
    background: url(../img/map.jpg);
}
footer{
    height: 100px;
    background-color:#354051;
}
footer p{
    font-size: 15px;
    line-height: 100px;
    text-align: center;
    color: white;
}