@font-face {
    font-family: 'Exo2';
    src: url('../fonts/Exo2-Regular.eot');
    src: local(''), url('../fonts/Exo2-Regular.woff') format('woff'), url('../fonts/Exo2-Regular.ttf') format('truetype'), url('../fonts/Exo2-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


html {
    overflow-x: hidden;
    
}

body {
    background: url(../img/bloom.png) top right/100% auto no-repeat;
    background-color: #212121;
    color: white;
    font-family: "Exo2";
    width: 100%;

}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: white;
    font-family: "Exo2";

}

img {
    height: ;
}

nav {
    margin: auto;
    background-color: #323232;
    margin-top: 30px;
    height: 130px;
    position: fixed;
    top: 0;
    left: 10px;
    right: 10px;
    width: 95%;
    resize: none;
    overflow: hidden;
    border-radius: 50px;
    white-space: nowrap;
}

.menu {

    padding: 0 70px 0 70px;



    display: flex;
    justify-content: space-between;
    height: 130px;
    font-size: 64px;


}

.logoMain span {
    font-size: 50px;
}

.logoMain {
    line-height: 130px;
    display: flex;
    float: left;
    font-weight: 900;
}

.dropDown {
    display: none;
}

li {
    line-height: 130px;
    width: 60%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-align: center;
}

li ul {
    font-weight: 900;
    white-space: nowrap;
    margin: 0 20px 0 20px;
    font-size: 36px;
}

.dropA {
    font-size: 16px;
}

.dropA:visited {
    color: black;
}

.main {
    display: block;
    margin-top: 160px;
}

.main h1 {
    float: left;
    font-size: 96px;
    font-weight: 900;
    white-space: nowrap;
    margin-left: 10%;
    padding-top: 150px;

}

.donut {
    position: absolute;
    margin-top: 150px;
    margin-left: 50px;
    z-index: -1;
}

.camera {
    position: absolute;
    margin-left: 30%;
    width: 16%;
    height: auto;
    z-index: -2;
}

.gameboy {
    width: 13%;
    height: auto;
    position: absolute;
    z-index: -3;
    margin-top: 300px;
    margin-left: 35%;
}

.first {
    display: flex;
    flex-direction: column;
}

.buttonBlock {
    margin-left: 10%;
}

.MainBt {
    font-weight: 900;
    width: 200px;
    height: 50px;
    line-height: 50px;
    background-color: #0D7377;
    color: #fff;
    font-size: 24px;
    margin: 0 5px 0 5px;

    border-radius: 20px;
    white-space: nowrap;
    padding: 0 10px 0 10px;
}

.MainBt:hover {
    background-color: #14FFEC;
    transition-duration: 0.5s;
}

.MainBt:active {
    transform: scale(1.2, 1.2);
    transition-duration: 0.1s;
}
.infoBlocks{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about {

    width: 90%;
    background-color: #323232;
    margin-top: 200px;
    height: auto;
    border-radius: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.about img {
    margin-top: 60px;
    width: 200px;
    height: auto;
}

.about h2 {
    font-weight: 900;
    font-size: 48px;
}

.about p {
    font-size: 32px;
    width: 90%;
    text-align: center;
}

.downloadText {
    color: #0D7377;
    font-size: 20px;

}

.icon-group {
       
    margin-right: 5px;
}
.download{
    margin-bottom: 40px;
}

.skills {
    width: 90%;
    background-color: #323232;
    margin-top: 50px;
    height: auto;
    border-radius: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 50px;
}
.block img{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
.block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}
.skills h2{
    margin-top: 50px;
    font-size: 48px;
    font-weight: 900;
}
.skills h3{
    font-size: 35px;
    font-weight: 900;
}
.skills p{
    font-size: 24px;
    
}
hr{
    width: 120px;
    height: 5px;
    background-color: #14FFEC;
    opacity: 1;
}
@media(max-width: 1560px) {
    .camera {
        display: none;
    }

    .gameboy {
        display: none;
    }
}

@media(max-width: 1300px) {
    .donut {
        display: none;
    }

    .first {
        display: flex;
        justify-content: center;
    }

}

@media(max-width:850px) {
    .main h1 {
        font-size: 64px;
    }

    body {
        background: url(../img/bloom.png) 0% 0%/170% auto no-repeat;
        background-color: #212121;

    }
}

@media(max-width:550px) {
    .main h1 {
        padding-top: 70px;
        font-size: 36px;
    }

    .MainBt {
        margin-top: 20px;
    }
}

@media(max-width:1850px) {
    nav {
        height: 70px;
    }

    menu {
        display: flex;
    }

    li {
        width: 75%;
        line-height: 70px;
    }

    li ul {
        margin: 0 5px 0 5px;
        line-height: 70px;
        width: 100%;
        font-size: 24px;
    }

    .logoMain a {
        line-height: 70px;
        font-size: 40px;
    }

    .logoMain span {
        line-height: 70px;
        font-size: 30px;
    }
}

@media (max-width:1000px) {
    li {
        display: none;
    }

    .dropDown {
        display: flex;
        height: 30px;
        align-items: center;
    }

    nav {
        overflow: visible;
    }

}
